body {
   background-color: #F5F5EB
}

.acor-container {
   max-width: 80%;
   margin: 0 auto;
}

.acor-container .acor-body {
   cursor: pointer;
   max-width: 50%;
   text-align: center;
   margin: 0 auto;
   height: 0;
   background-color: #959593;
   line-height: 18px;
   padding: 0 30px;
   box-sizing: border-box;
   transition: color 0.5s, padding 0.5s;
   overflow: hidden;
   font-family: Verdana, sans-serif;
   font-size: 16px;
   font-family: bold;
   transition: 1s all;
}


.acor-container label {
   cursor: pointer;
   background-color: #F5F5EB;
   display: block;
   padding: 15px 20px;
   border-top: 1px solid #959593;
   width: 100%;
   color: #0059D9;
   font-weight: 300;
   box-sizing: border-box;
   z-index: 100;
   font-family: Verdana, sans-serif;
   font-size: 20px;
   font-family: bold;
   transition: 1s all;
}

.acor-container input {
   display: none;
}

.acor-container label:hover{
   color:#000
}
.acor-container input:hover+label {
   color:#000;
}
.acor-container input:checked+label{
   color:#000
}


.acor-container label:before {
   content: '\2715';
   float: right;
   transition: transform .35s;
   transform: rotate(45deg);
}                                                     /* icon */

.acor-container input:checked+label:before {
   content: '\2715';
   transition: transform .35s;
   transform: rotate(90deg);
}


.acor-container input:hover+label+.acor-body {
   height: auto;
   margin-bottom: 15px;
   color: #000;
   padding: 20px 30px 10px;
}
.acor-container input:checked+label+.acor-body {
   height: auto;
   margin-bottom: 15px;
   color: #000;
   padding: 20px 30px 10px;
}